<%= fields_for "recipe[recipe_ingredients_attributes][#{turbo_id_for(recipe_ingredient)}]", recipe_ingredient do |ff| %>
  <fieldset id="<%= turbo_id_for(recipe_ingredient) %>" data-controller="delete-ingredient">
    <div class="d-flex">
      <%= ff.text_field :name, class: "form-control mb-2 name", placeholder: "Składnik", 'data-controller'=>"autocomplete", 'data-list' => ingredient_autocomplete, autocomplete: "off" %>
      <%= ff.text_field :quantity, class: "form-control mx-2 mb-2 quantity", placeholder: "Ilość" %>
      <%= ff.hidden_field :id %>
      <%= ff.hidden_field :_destroy, class: "destroy-ingredient" %>
      <%= link_to "", "", data: {action: "click->delete-ingredient#delete"}, id: "delete-ingredient", class: "btn-close" %>
    </div>
    <%= render "/shared/errors", object: recipe_ingredient, field: '' %>
  </fieldset>
<% end %>
