<div id="sign-up" class="section devise-form">
  <div class="section-middle">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form needs-validation">
                <div class="form-group">
                  <%= f.label :email, class: "form-label" %>
                  <%= f.email_field :email, autofocus: true, class: "form-control", required: true %>
                  <% resource.errors.full_messages_for(:email).each do |message| %>
                    <div class='invalid-feedback d-block' data-controller="errors">
                      <%=message%>
                    </div>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.label :password, 'Hasło', class: "form-label" %>
                  <% if @minimum_password_length %>
                  <em>(minimum <%= @minimum_password_length %> znaków)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control password", required: true %>
                  <% resource.errors.full_messages_for(:password).each do |message| %>
                    <div class='invalid-feedback d-block' data-controller="errors">
                      <%=message%>
                    </div>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation, 'Powtórz hasło', class: "form-label" %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control confirmation", 'data-controller' => 'match-password', required: true %>
                  <div class="invalid-feedback" id='feedback'>
                    Hasła się nie zgadzają
                  </div>
                </div>

                <div class="form-btn">
                  <%= f.submit "Zarejestruj", class: "btn btn-primary", id: 'sign-up-btn' %>
                </div>
                <%= render "devise/shared/links" %>
              </div>
            <% end %>

            
          </div>
          <div class="col-sm-8 ">
						<div class="side-text">
							<h1>Zarejestruj się</h1>
							<p>Odkryj wyjątkowe przepisy na codzień</p>
						</div>
					</div>
        </div>
      </div>
    </div>
    <a id="credit" href="https://www.vecteezy.com/free-photos/food">Food Stock photos by Vecteezy</a>
  </div>
</div>
