<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

    <ul>
      <% @recipe.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @recipe do |f| %>
  <div class="field">
    <%= f.label :name, 'Recipe name:'%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: 'Name' %>
  </div>

  <div class="field">
    <%= f.label :serving,  'Serving:' %><br />
    <%= f.number_field :serving, in: 1..20, step: 1, autocomplete: 'Will serve this many people' %>
  </div>

  <div class="field">
    <%= f.label :ingredients, 'Ingredient list:'%><br />
    <%= f.text_field :ingredients, autocomplete: 'Ingredients' %>
  </div>

  <%= f.fields_for :steps, @recipe.steps + [Step.new] do |u| %>
    <div class="field">
      <%= u.label :position %><br />
      <%= u.number_field :position %>
    </div>

    <div class="field">
      <%= u.label :instructions %><br />
      <%= u.text_field :instructions %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
