<div id="recipe-form" class="section background-gradient">
  <div class="section-center">
    <div class="container">
      <%= form_with model: @recipe do |f| %>
          <div class="form mb-5 needs-validation">
            <div class="form-group">
              <%= f.label :name, 'Nazwa:', autofocus: true, class: "form-label" %>
              <%= f.text_field :name, class: "form-control", autocomplete: "off" %>
              <%= render "/shared/errors", object: @recipe, field: :name %>
            </div>
            <div data-controller="delete-image">
              <div class="form-group" data-controller="image-preview">
                <%= f.label :image, 'Obraz: ',  class: "form-label" %>
                <%= f.file_field :image, class: "custom-file-input", "data-image-preview-target"=>"source", "data-action"=>"image-preview#show" %>
                <img data-image-preview-target="canvas" hidden class="img-thumbnail mx-auto mt-2" id="upload-preview">
                <%= link_to "", "", data: {action: "click->delete-image#delete"}, id: "preview-close", class: "btn-close" %>
                <%= f.hidden_field :image, class: "destroy-image", value: nil, disabled: true %>
                <%= image_tag(@recipe.image, class: "preview img-thumbnail mx-auto mt-2", id:"persisted-image") if @recipe.image.attached? && @recipe.image.persisted? %>
                <%= render "/shared/errors", object: @recipe, field: :image %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :tag_ids, 'Tagi:', class: "form-label" %><br>
              <%= f.select :tag_ids, Tag.order(:name).map { |tag| [tag.name, tag.id] }, {include_blank: false}, {data: { controller: 'slim' }, multiple: true, id: "tag-select", class: 'form-control'} %>
            </div>

            <div class="form-group">
              <%= f.label :serving,  'Liczba porcji:', class: "form-label" %>
              <%= f.number_field :serving, in: 1..20, step: 1, class: "form-control" %>
              <%= render "/shared/errors", object: @recipe, field: :serving %>
            </div>

            <div id="recipe_ingredients">
              <div>
                <p class="form-label">Składniki:</p>
              </div>
              <%= render @recipe.recipe_ingredients %>
            </div>
            <div>
              <%= link_to "Dodaj składnik", new_recipe_ingredient_path, data: { turbo_stream: true }, class: "btn btn-light text-dark mb-2" %>
            </div>
            <%= render "/shared/errors", object: @recipe, field: :recipe_ingredients %>
            <div id="steps">
              <div>
                <p class="form-label">Instrukcje:</p>
              </div>
              <%= render @recipe.steps %>
            </div>
            <div>
              <%= link_to "Dodaj instrukcję", new_step_path, data: { turbo_stream: true }, class: "btn btn-light text-dark mb-2" %>
            </div>
            <%= render "/shared/errors", object: @recipe, field: :steps %>
            <div class="form-btn my-2">
              <%= f.submit "Prześlij", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
