<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

    <ul>
      <% @recipe.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @recipe do |f| %>
  <div class="form">
    <div>
      <%= f.label :name, 'Recipe name:'%><br />
      <%= f.text_field :name, autofocus: true, autocomplete: 'Name' , class: "field"%>
    </div>

    <div>
      <%= f.label :tag_ids, 'Tags:'%><br />
      <%= f.select :tag_ids, Tag.order(:name).map { |tag| [tag.name, tag.id] },{include_blank: true}, {data: { controller: 'slim' }, multiple: true} %>
    </div>

    <div>
      <%= f.label :serving,  'Serving:' %><br />
      <%= f.number_field :serving, in: 1..20, step: 1, autocomplete: 'Will serve this many people', class: "field" %>
    </div>

    <div>
      <%= f.label :ingredients, 'Ingredient list:'%><br />
      <%= f.text_field :ingredients, autocomplete: 'Ingredients' , class: "field"%>
    </div>

    <div id="steps">
      <%= render @recipe.steps %>
    </div>
    <div>
      <%= link_to "Add a step", new_step_path, data: { turbo_stream: true } %>
    </div>

    <div class="actions">
      <%= f.submit "SUBMIT" %>
    </div>
  </div>
<% end %>
