<div class='container mx-auto'>
  <div class='row'>
    <div class='col-8'>
      <h1 class='py-2'><%= @recipe.name %></h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-8'>
      <%= render(ImgComponent.new(recipe: @recipe, class_list: 'recipe-image w-100')) %>
    </div>
    <div class='col-4'>
      <h4>Liczba porcji: <%= @recipe.serving %></h4>
      <% if @recipe.tags.any? %>
        <%= render "/tags/tag_list", {tag_array: @recipe.tag_array} %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Edytuj", edit_recipe_path(@recipe) %>
        <%= link_to "Usuń", recipe_path(@recipe), data: {turbo_method: :delete, turbo_confirm: "Na pewno?"} %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <p>Dodano przez: <%= @recipe.user.email %></p>
  </div>
  <div class='row'>
    <div class='col-4 border-end'>
      <h4>Składniki: </h4>
      <ul>
        <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
          <li class='mb-1'>
            <%= recipe_ingredient.name %>
             - 
            <%= recipe_ingredient.quantity %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='col-8'>
      <h4>Instrukcje:</h4>
      <ul>
        <% @recipe.steps.each do |step| %>
          <li class='border-bottom mb-1'><%= step.instructions %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
