<div class='container'>
  <%= turbo_frame_tag 'add_recipe_plan' %>

  <% recipes.each_slice(4) do |row| %>
    <div class="row row-cols-4 align-self-center justify-content-start">
      <% row.each do |recipe| %>
        <div class='col mb-3'>
          <div class='relative'>
            <%= link_to recipe, class: 'recipe-thumbnail' do %>
              <%= render(ImgComponent.new(recipe: recipe)) %>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to favourite_recipes_path(recipe: recipe.id),data: { turbo_method: :post }, title: 'Dodaj do ulubionych' do %>
                <% image_tag asset_path('red-outline-heart.svg'), class: "add-to-favourite bg-body" %>
              <% end %>
              <%= link_to new_recipe_plans_path(recipe: recipe.id), data: { turbo_frame: "add_recipe_plan" }, title: 'Dodaj do planu posiłków' do %>
                <% image_tag asset_path('add.svg'), class: "add-to-plan bg-body" %>
              <% end %>
            <% end %>
          </div>
          <div class='title d-flex justify-content-center'>
            <%= link_to recipe.name, recipe, class: "text-decoration-none link-dark text-center" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
