<div class="modal bg-dark bg-opacity-50 d-block" tabindex="-1" role="dialog" data-controller='modal'>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">Dodaj składniki do listy zakupów</h5>
      </div>
      <%= form_with model: @shopping_list do |f| %>
        <div class="modal-body">
          <div id='shopping_list_ingredients'>
            <%= render partial: "shopping_list_ingredients/shopping_list_ingredient", locals: { shopping_list_ingredient: shopping_list_ingredient, shopping_list_id: @shopping_list_id } %>
          </div>
          <%= link_to "Dodaj składnik", new_shopping_list_ingredient_path(shopping_list_id: @shopping_list.id), data: { turbo_stream: true }, class: "btn btn-light text-dark mb-2" %>
        </div>
        <div class="modal-footer">
          <%= link_to "Zamknij", "#", data: {
            controller: "modals",
            action: "modal#close"
          }, class: "btn btn-secondary" %>
          <%= f.submit "Zapisz", class: "btn btn-primary", data: {turbo_frame: "_top"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
