<div id="log-in" class="section">
  <div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-sm">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form">
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group">
                  <%= f.label :email, class: "form-label" %><br />
                  <%= f.email_field :email, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password, class: "form-label" %><br />
                  <%= f.password_field :password, class: "form-control" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="remember-check">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, class: "form-label" %>
                  </div>
                <% end %>

                <div class="form-btn">
                  <%= f.submit "LOG IN", class: "submit-btn" %>
                </div>
                <%= render "devise/shared/links" %>
              </div>
            <% end %>

            
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm ">
						<div class="side-text">
							<h1>Welcome back</h1>
							<p>We have delicious recipes at your fingertips</p>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>
