<td>
  <%= form_with url: update_ingredient_shopping_list_path, method: :patch do |f| %>
    <div class="d-flex align-items-baseline">
      <%= f.text_field :ingredient_name, value: @ingredient_name, class: "form-control mb-2 name", placeholder: "Składnik", 'data-controller'=>"autocomplete", 'data-list' => ingredient_autocomplete, autocomplete: "off" %>
      <%= f.text_field :ingredient_quantities, value: @ingredient_quantities, class: "form-control mx-2 mb-2 name", placeholder: "Ilość", autocomplete: "off" %>
      <%= f.hidden_field :shopping_list_id, value: params[:id] %>
      <%= f.hidden_field :ingredient_name_to_edit, value: @ingredient_name %>
      <%= f.submit "Zapisz", class: "btn btn-outline-success btn-sm" %>
      <%= link_to "", "", id: "delete-ingredient", class: "btn-close mx-2" %>
    </div>
  <% end %>
</td>
