<%= turbo_frame_tag "edit_plan" %>
<div class='container mx-auto plan-show'>
  <div class="mb-2 d-flex justify-content-center align-items-center py-2">
    <div id='plan_name'>
      <h1 class='display-4 fw-normal py-2'><%= @plan.name %></h1>
    </div>
  <%= link_to edit_plan_path(@plan), data: { turbo_stream: true }, title: 'Edytuj nazwę planu posiłków' do %>
    <% image_tag asset_path('edit-pencil.svg'), class: "icon-btn btn btn-success mx-3" %>
  <% end %>
  </div>
  <div class="text-center pb-4">
    <%= link_to "Lista zakupów", shopping_list_path(@plan.shopping_list), class: "btn btn-primary my-4" %>
  </div>
  <div class='container'>
    <% @plan.recipe_plans.each do |recipe_plan| %>
      <div class='row d-flex justify-content-center'>
        <div class="card mb-3 w-50 recipe-card">
          <div class="row no-gutters">
            <div class="col-md-4 px-0">
              <%= render(ImgComponent.new(recipe: recipe_plan.recipe, class_list: 'h-100 w-100 rounded-start recipe-card-image')) %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= recipe_plan.recipe.name %></h5>
                <div>
                  <%= link_to "Zobacz", recipe_path(recipe_plan.recipe), class: 'btn btn-primary' %>
                  <%= link_to "Usuń", remove_recipe_plan_path(recipe_plan), data: {turbo_method: :delete, turbo_confirm: "Na pewno?"}, class: 'btn btn-secondary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "/shared/img_credit", link: "https://www.vecteezy.com/free-photos/food", text: "Food Stock photos by Vecteezy" %>
